@CHARSET "UTF-8";

#div1 {
	padding: 10px;
	width: 90%;
	text-align: center;
	height: 40%;
	background: #CCFF00;
	margin: 10px;
}

#div2 {
	margin: 10px;
	padding: 10px;
	width: 250px;
	text-align: center;
	background: #FFCC33;
	position: relative;
	float: left;
}

#div3 {
	margin: 10px;
	padding: 10px;
	width: 40%;
	text-align: center;
	background: #CCFFFF;
	margin-left: 30px;
	float: left;
}

#div4 {
	width: 40%;
	text-align: center;
	background: #CCFF33;
	margin: 10px;
	position: relative;
}

#div5 {
	background: #FFFF99;
	margin: 10px;
	position: relative;
	width: 350px;
	display: block;
	padding: 10px;
}

#div7 {
	background: #FFFF99;
	margin: 10px;
	position: relative;
	width: 350px;
	display: block;
}

#div6 {
	background: #FFFFFF;
	margin: 10px;
	width: 250px;
	heigth: 50px;
	border-style: dotted;
	border-width: 1px;
}


.table1 {
	width: 100%;
	background: #99FFFF;
}

.table1rowEven {
	width: 100%;
	background: #CCFF33;
}

.table1rowOdd {
	width: 100%;
	background: #FFFF99;
}